name: Update data

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run updater
        env:
          TZ: Africa/Lagos
        run: |
          python -m scripts.update_data

      - name: Cleanup runtime junk
        run: |
          find . -type d -name "__pycache__" -prune -exec rm -rf {} +
          find . -type f -name "*.pyc" -delete
          # remove sqlite wal/shm if created anywhere
          find . -type f -name "*.db-wal" -delete
          find . -type f -name "*.db-shm" -delete

      - name: Commit DB only
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          # Commit only the database file
          git add data/stock.db

          git commit -m "Auto update data" || echo "No DB changes"
          git push
